body {
    font-size: 0.875rem;
    background-color: #c1c1c1;
}
.navbar {
    border-bottom: 1px solid #dfdfdf;
}
.btn-rounded {
	border-radius: 25px;
}
p {
    margin-bottom: 0;
}
.page-link.active {
    background-color: blue;
    color: #fff;
}